<?xml version="1.0"?>
<config>
    <modules>
        <DeividNetwork_AjaxCart>
            <version>
                1.0
            </version>
        </DeividNetwork_AjaxCart>
    </modules>
    <frontend>
        <routers>
            <deivid_network_ajax_cart>
                <use>standard</use>
                <args>
                    <module>DeividNetwork_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </deivid_network_ajax_cart>
        </routers>
        <layout>
            <updates>
                <deivid_network_ajax_cart>
                    <file>deivid_network_ajax_cart.xml</file>
                </deivid_network_ajax_cart>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <ajaxcart>
                <class>DeividNetwork_AjaxCart_Helper</class>
            </ajaxcart>
        </helpers>
        <blocks>
            <ajaxcart>
                <class>DeividNetwork_AjaxCart_Block</class>
            </ajaxcart>
        </blocks>
    </global>
</config>